:root {
  --font-family: Inter, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --color-white: white;
  --color-red: #990000;
  --color-lightgrey: #efefef;
  --color-yellow: #ffeba1;
  --color-black: black;
  --color-dark: #262626;
  --color-grey: #d7d9dd;
  --color-purple: #610efb;
  --color-green: #b2f042;
  --color-background: rgba(245, 222, 179, 0.1);

  --font-size-extra-small: 0.75em;
  --font-size-small: 1em;
  --font-size-medium: 1.175em;
  --font-size-large: 3em;
  --font-size-extra-large: 5em;
  --font-responsive-ratio: clamp(3em, min(4.175vw, 5em), 5em);

  --font-weight-normal: normal;
  --font-weight-medium: 500;
  --font-weight-bold: bold;
  --font-weight-bolder: bolder;

  --border-radius: 2em;
  --padding-desktop: 2em 3em;

  --quick-animation-time: 0.3s;
}

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter.ttf);
}

html,
body {
  font-family: var(--font-family);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  background: var(--color-background);
}

body.stop-transition .navigation {
  transition: none;
}

h1 {
  font-size: var(--font-size-extra-large);
}

button {
  padding: 0.75em 2em;
  border-radius: 0.75em;
  outline: none;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  background-color: var(--color-yellow);
  color: var(--color-black);
  cursor: pointer;
  margin: 0;
  border: 1px solid var(--color-grey);
}

button:hover {
  background-color: var(--color-white);
}

form button {
  padding: 1em 2em;
  margin: auto;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-medium);
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.red {
  color: var(--color-red);
}

.flex {
  display: flex;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
}

.field > label,
.required-fields {
  font-weight: var(--font-weight-bold);
}

.field > input,
.field > textarea {
  padding: 1em;
  border-radius: 0.75em;
  border: 1px solid var(--color-grey);
  color: var(--color-black);
  outline: none;
  box-shadow: none;
  font-size: var(--font-size-extra-small);
}

/* Navbar */

header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey);
}

nav {
  width: 100%;
}

.logo {
  width: 130px;
  cursor: pointer;
  padding: 1em 0em 0rem 2.2rem;
}

.navigation {
  list-style: none;
  gap: 1.5em;
  z-index: 1000;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
}

.navigation a {
  color: unset;
  cursor: pointer;
  text-decoration: none;
}

.navigation a[data-status="active"] {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.1em;
}

#nav-admin[data-visible="false"] {
  display: none;
}

.mobile-nav-toggle {
  display: none;
}

.mobile-nav-toggle:hover {
  background-color: transparent !important;
}

.user-action {
  margin: auto 3em auto auto;
  background-color: var(--color-lightgrey);
  padding: 0.3em;
  border-radius: 1rem;
  border: 1px solid var(--color-grey);
}

.user-action-simple {
  border: 0;
  background: transparent;
}

.user-action-simple a {
  border: 1px solid var(--color-grey);
  padding: 0.75em 1em;
  border-radius: 0.75em;
}

.user-action > * {
  transition: all var(--quick-animation-time);
}

.user-action a {
  margin: 1em;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  cursor: pointer;
}

.user-action a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}

/* Login */
.login-card {
  padding: 2em 3em 3em 3em;
}

.login-grid {
  display: grid;
  grid-template-rows: 75vh;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-lightgrey);
  border-radius: var(--border-radius);
  max-width: 60%;
  gap: 1em;
  padding: 1em;
  place-content: center;
  margin: auto;
  border: 1px solid var(--color-grey);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form > h1 {
  text-align: center;
  font-size: var(--font-responsive-ratio);
  font-weight: var(--font-weight-normal);
  margin-top: 0;
  font-style: italic;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
  padding: 0em 3em;
  position: relative;
}

.login-banner {
  position: relative;
  object-fit: cover;
  background-size: cover;
  border: 1px solid var(--color-grey);
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
  background-image: url(../assets/images/forest.jpg);
}

.login-banner .app-logo {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 200px;
  aspect-ratio: 1.5;
  background-repeat: no-repeat;
  transform: translate(-50%, -30%);
  background-image: url(../assets/images/logo.png);
}

.login-help {
  text-align: center;
}

/* Registro */
.sign-up-card {
  padding: var(--padding-desktop);
}

.sign-up-grid {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 1fr;
  max-width: 75%;
  place-content: center;
  margin: auto;
  background-color: var(--color-lightgrey);
  border-radius: var(--border-radius);
  gap: 1em;
  padding: 1em;
}

.sign-up-card .banner {
  text-align: center;
  position: relative;
}

.sign-up-card form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  padding: 0em 3em;
}

.sign-up-banner {
  position: relative;
  object-fit: cover;
  background-size: cover;
  border: 1px solid var(--color-grey);
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
  background-image: url(../assets/images/forest.jpg);
}

.sign-up-banner .app-logo {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 200px;
  aspect-ratio: 1.5;
  background-repeat: no-repeat;
  transform: translate(-50%, -30%);
  background-image: url(../assets/images/logo.png);
}

.sign-up-banner h2 {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  font-weight: var(--font-weight-normal);
  font-style: italic;
}

.sign-up-card h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-responsive-ratio);
}

/* Inicio */
.home-grid {
  display: grid;
  padding: var(--padding-desktop);
  gap: 2em;
  grid-template-rows: repeat(2, minmax(22em, 1fr));
  grid-template-columns: 2fr 1fr 1fr;
}

.home-grid > button {
  position: relative;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-grey);
  margin: 0;
  padding: 0;
  outline: 0;
  color: var(--color-black);
}

.home-grid > button > * {
  position: absolute;
  margin: 1.5rem 2rem;
}

.home-grid > button > h1 {
  bottom: 0;
  text-align: left;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-responsive-ratio);
}

.home-grid > button > span {
  top: 0;
  left: 0;
  text-align: left;
  max-width: 195px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
}

.home-grid > button > i {
  top: 0;
  right: 0;
  font-size: 2rem;
}

button[data-section="projects"] {
  background-color: var(--color-dark);
  grid-area: 1 / 1 / 3 / 2;
  color: var(--color-white);
}

button[data-section="news"] {
  background-color: var(--color-grey);
  grid-area: 1 / 2 / 1 / 4;
}

button[data-section="about-us"] {
  background-color: var(--color-purple);
  color: var(--color-white);
}

button[data-section="contacts"] {
  background-color: var(--color-green);
}

/* Contacto */
.contact-section {
  padding: var(--padding-desktop);
}

.contact-section > h1 {
  margin-top: 0;
  margin-bottom: 2.5rem;
  font-size: var(--font-responsive-ratio);
  font-weight: var(--font-weight-normal);
}

.contact-section p {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-medium);
  margin-right: 1em;
  margin-bottom: 2em;
}

.contact-section p:first-child {
  margin-top: 0;
}

.contact-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.contact-grid form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background: var(--color-lightgrey);
  border-radius: var(--border-radius);
  padding: 2em;
}

.contact-grid form > h2 {
  font-size: 2em;
  font-weight: var(--font-weight-normal);
}

/* Sobre Nosotros */
.about-us-grid {
  display: grid;
  padding: 0 3em;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 0.1fr 1fr;
  gap: 1em;
  border-bottom: 1px solid var(--color-grey);
}

.about-us-grid .history {
  padding: 2rem 0em;
}

.about-us-grid h1 {
  padding: 2rem 0em;
  margin: 0;
  font-size: var(--font-responsive-ratio);
  font-weight: var(--font-weight-normal);
  font-style: italic;
}

.about-us-grid h2 {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-large);
  margin: 0;
}

.about-us-grid p {
  font-size: var(--font-size-medium);
}

.about-us-grid .separator {
  width: 1px;
  height: 100%;
  background-color: var(--color-grey);
}

/* Administración */
.tabs-container {
  padding: var(--padding-desktop);
  height: 75vh;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs label {
  cursor: pointer;
  padding: 1em 2em;
  font-size: var(--font-size-medium);
  background-color: transparent;
  opacity: 1;
  border: 0;
  user-select: none;
}

.tabs input[type="radio"]:checked + label {
  border-radius: 0.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid var(--color-grey);
  border-bottom: 0;
}

.tab {
  height: 70vh;
  border: 1px solid var(--color-grey);
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  background-color: var(--color-white);
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  background: var(--color-white);
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.table-search {
  display: flex;
  float: right;
  margin: 3rem 0rem;
}

.table-search i {
  padding: 1rem;
  border: 1px solid var(--color-grey);
  border-radius: 0 0.75em 0.75em 0;
  border-left: 0;
}

input[type="search"] {
  height: 28px;
  border: 1px solid var(--color-grey);
  padding: 1.5rem 1rem;
  font-size: var(--font-size-medium);
  color: var(--color-black);
  border-radius: 0.75em 0 0 0.75em;
  outline: none;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/* Responsive */
@media screen and (max-width: 1366px) {
  .home-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  button[data-section="projects"],
  button[data-section="news"],
  button[data-section="about-us"],
  button[data-section="contacts"] {
    grid-area: inherit;
  }

  .contact-grid {
    grid-template-columns: 1fr;
  }

  .login-grid,
  .sign-up-grid {
    max-width: 80%;
  }
}

@media only screen and (max-width: 1260px) {
  .navigation {
    position: fixed;
    align-items: inherit;
    inset: 0 0 0 50%;
    background: hsl(255, 0%, 0%, 0.8);
    backdrop-filter: blur(1rem);
    margin: 0;
    flex-direction: column;
    padding: min(15vh, 10rem) 2em;
    color: var(--color-white);
    transform: translateX(100%);
    transition: transform 0.2s ease-out;
  }

  .navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    border-radius: 0;
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    top: 3rem;
    right: 2rem;
    border: 0;
    background-color: transparent;
    background-image: url("../assets/images/icon-hamburger.svg");
    background-repeat: no-repeat;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../assets/images/icon-close.svg");
  }

  .user-action {
    margin: 1.5em auto auto auto;
  }

  .user-action a {
    color: var(--color-black);
    text-align: center;
  }

  .user-action-simple a {
    color: var(--color-white);
  }

  .about-us-grid {
    grid-template-columns: 1fr;
  }

  .about-us-grid .separator {
    width: 100%;
    height: 1px;
  }

  .contact-grid {
    grid-template-columns: 1fr;
  }

  .login-grid,
  .sign-up-grid {
    max-width: unset;
  }

  .tab {
    border-top-right-radius: 0;
  }

  .sign-up-grid {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 992px) {
  .logo {
    padding: 1em 0em 0rem 1rem;
  }

  .home-grid {
    padding: 2em 2em;
    grid-template-rows: repeat(4, minmax(20em, 1fr));
    grid-template-columns: 1fr;
  }

  .contact-grid {
    grid-template-columns: 1fr;
  }

  .user-action {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .login-card,
  .sign-up-card {
    padding: 1em;
  }

  .login-grid {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
  }

  .login-form {
    order: 2;
  }

  .login-form form,
  .sign-up-card form {
    padding: 0em 2em;
  }
}

@media only screen and (max-width: 576px) {
  .navigation {
    inset: 0 0 0 30%;
  }
}
