<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <script src="../js/main.js" defer></script>
  <title>EcoVida</title>
</head>

<body>

  <header class="flex">
    <div>
      <a id="nav-home" class="nav-logo" data-role="nav-link" href="../index.html">
        <img class="logo" src="../assets/images/logo.png" alt="EcoVida">
      </a>
    </div>

    <button class="mobile-nav-toggle" aria-controls="navigation" aria-expanded="false" type="button">
      <span class="sr-only">Menu</span>
    </button>

    <nav>
      <ul id="navigation" class="navigation flex" data-visible="false">
        <li>
          <a id="nav-projects" data-role="nav-link" data-status="" href="./projects.html">Proyectos</a>
        </li>
        <li>
          <a id="nav-news" data-role="nav-link" data-status="" href="./news.html">Noticias</a>
        </li>
        <li>
          <a id="nav-about-us" data-role="nav-link" data-status="active" href="./about-us.html">Sobre Nosotros</a>
        </li>
        <li>
          <a id="nav-contact" data-role="nav-link" data-status="" href="./contact.html">Contacto</a>
        </li>
        <li>
          <a id="nav-admin" data-role="nav-link" data-status="" data-visible="false"
            href="./administration.html">Administración</a>
        </li>
        <li id="user-action" class="user-action">
          <a id="login" href="./login.html">Iniciar Sesión</a>
          <a id="logout" class="invisible" href="./login.html">Cerrar Sesión</a>
          <button id="sign-up" onclick="window.location.href = '/sign-up.html';">Incribirse</button>
        </li>
      </ul>
    </nav>

    <div></div>
  </header>

  <main>

    <div class="about-us-grid">
      <h1>
        EcoVida:
        <br>
        Cuidando el planeta,
        <br>
        construyendo un futuro sostenible y esperanzado
      </h1>
      <div class="separator"></div>
      <div class="history">
        <h2>Historia de la organización:</h2>
        <p>Hace más de dos décadas, un grupo de visionarios en la ciudad de Olavarría, Argentina, se unieron en busca de
          un cambio significativo para el medio ambiente y la comunidad local. Inspirados por su amor por la naturaleza
          y la urgencia de protegerla, fundaron la organización sin fines de lucro EcoVida.</p>
        <p>Desde sus inicios, EcoVida se ha dedicado a promover la conciencia ambiental y fomentar prácticas
          sostenibles. Con una determinación incansable, han trabajado en estrecha colaboración con la comunidad local,
          las escuelas, las empresas y otras organizaciones para marcar una diferencia positiva en la región y más allá.
        </p>
        <p>EcoVida ha logrado consolidarse como referente en el cuidado del planeta gracias a su enfoque integral y
          holístico. Han desarrollado una amplia gama de programas educativos y de capacitación, dirigidos tanto a
          estudiantes como a docentes, con el objetivo de difundir conocimientos sobre prácticas sostenibles y
          preservación de recursos.</p>
        <p>La fundación también ha emprendido proyectos de conservación y protección de la biodiversidad, trabajando en
          estrecha colaboración con otras organizaciones y entidades gubernamentales. Han sido pioneros en la
          implementación de prácticas sostenibles en empresas y organizaciones locales, promoviendo la responsabilidad
          ambiental corporativa y el reciclaje.</p>
        <p>A lo largo de su trayectoria, EcoVida ha logrado construir una comunidad comprometida y consciente de la
          importancia de cuidar nuestro entorno. Han fomentado la participación y el voluntariado en actividades de
          conservación y cuidado del medio ambiente, generando un impacto positivo y duradero.</p>
        <p>Con cada paso que dan, EcoVida demuestra que cuidar el planeta es una responsabilidad de todos. Su lema,
          "Cuidando el planeta, construyendo futuro", refleja su compromiso de preservar nuestro hogar y trabajar juntos
          para crear un futuro sostenible para las generaciones venideras.</p>
      </div>
    </div>


  </main>

  <script src="https://kit.fontawesome.com/ad10912972.js" crossorigin="anonymous"></script>
</body>

</html>