<div class="home-grid">
  <section data-section="projects">
    <h1>Proyectos</h1>
    <i class="fa-solid fa-arrow-up-right-from-square"></i>
  </section>
  <section data-section="news">
    <span>Que hay de nuevo</span>
    <h1>Noticias</h1>
    <i class="fa-solid fa-arrow-up-right-from-square"></i>
  </section>
  <section data-section="about-us">
    <span>Descubre nuestra historia</span>
    <h1>Sobre Nosotros</h1>
    <i class="fa-solid fa-arrow-up-right-from-square"></i>
  </section>
  <section data-section="contacts">
    <h1>Contacto</h1>
    <span>Tienes alguna pregunta?</span>
    <i class="fa-regular fa-paper-plane"></i>
  </section>
</div>