<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <script src="../js/main.js" defer></script>
  <title>EcoVida</title>
</head>

<body>

  <header class="flex">
    <div>
      <a id="nav-home" class="nav-logo" data-role="nav-link" href="../index.html">
        <img class="logo" src="../assets/images/logo.png" alt="EcoVida">
      </a>
    </div>

    <button class="mobile-nav-toggle" aria-controls="navigation" aria-expanded="false" type="button">
      <span class="sr-only">Menu</span>
    </button>

    <nav>
      <ul id="navigation" class="navigation flex" data-visible="false">
        <li>
          <a id="nav-projects" data-role="nav-link" data-status="active" href="./projects.html">Proyectos</a>
        </li>
        <li>
          <a id="nav-news" data-role="nav-link" data-status="" href="./news.html">Noticias</a>
        </li>
        <li>
          <a id="nav-about-us" data-role="nav-link" data-status="" href="./about-us.html">Sobre Nosotros</a>
        </li>
        <li>
          <a id="nav-contact" data-role="nav-link" data-status="" href="./contact.html">Contacto</a>
        </li>
        <li>
          <a id="nav-admin" data-role="nav-link" data-status="" data-visible="false"
            href="./administration.html">Administración</a>
        </li>
        <li id="user-action" class="user-action">
          <a id="login" href="./login.html">Iniciar Sesión</a>
          <a id="logout" class="invisible" href="./login.html">Cerrar Sesión</a>
          <button id="sign-up" onclick="window.location.href = '/sign-up.html';">Incribirse</button>
        </li>
      </ul>
    </nav>

    <div></div>
  </header>

  <main>


  </main>

  <script src="https://kit.fontawesome.com/ad10912972.js" crossorigin="anonymous"></script>
</body>

</html>