<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <script src="../js/main.js" defer></script>
  <title>EcoVida</title>
</head>

<body>

  <header class="flex">
    <div>
      <a id="nav-home" class="nav-logo" data-role="nav-link">
        <img class="logo" src="../assets/images/logo.png" alt="EcoVida">
      </a>
    </div>

    <button class="mobile-nav-toggle" aria-controls="navigation" aria-expanded="false" type="button">
      <span class="sr-only">Menu</span>
    </button>

    <nav>
      <ul id="navigation" class="navigation flex" data-visible="false">
        <li class="user-action">
          <a href="./login.html">Iniciar Sesión</a>
        </li>
      </ul>
    </nav>

  </header>

  <main>

    <div class="sign-up-card">
      <div class="sign-up-grid">
        <div class="sign-up-banner">
          <div class="app-logo"></div>
          <h2></h2>
        </div>
        <div>
          <h1>Inscribirse</h1>
          <form>
            <div class="field">
              <label for="name">Nombre Completo<span class="red">*</span></label>
              <input type="text" name="name" id="name">
            </div>
            <div class="field">
              <label for="phone">Teléfono<span class="red">*</span></label>
              <input type="text" name="phone" id="phone">
            </div>
            <div class="field">
              <label for="email">Email<span class="red">*</span></label>
              <input type="email" name="email" id="email">
            </div>
            <div class="field">
              <label for="password">Constraseña<span class="red">*</span></label>
              <input type="password" name="password" id="password">
            </div>
            <div class="field">
              <label for="confirmPassword">Confirma Constraseña<span class="red">*</span></label>
              <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <button>
              Inscribirse
            </button>
          </form>
        </div>
      </div>
    </div>


  </main>

  <script src="https://kit.fontawesome.com/ad10912972.js" crossorigin="anonymous"></script>
</body>

</html>